.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.settings__setting:nth-child(3) {
  border-bottom: none;
}
.settings__setting i {
  margin-right: 20px;
  font-size: 22px;
  color: black;
  opacity: 0.7;
}
.settings__setting__column:first-child {
  display: flex;
  justify-content: center;
  margin-right: auto;
}
.settings__setting__column:last-child {
  display: flex;
  justify-content: center;
  margin-left: auto;
  color: grey;
  font-size: 18px;
