.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
.dot {
  box-sizing: border-box;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 100px;
  position: relative;
  right: 10%;
}
.more-notification {
  position: fixed;
  right: 3%;
  bottom: 4%;
}
